/*
 * GLOBAL STYLES
-------------------------------*/

.primary-btn {
    background: #000;
    border: 1px solid #000;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.primary-btn:hover{
    background: #424242;
    border-color: #424242;
    color: #fff
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

/*
 * SITE HEADER
-------------------------------*/

header.site-header{
	background: rgba(0,0,0,0);
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: 0.2s ease;
	   -moz-transition: 0.2s ease;
	    -ms-transition: 0.2s ease;
	     -o-transition: 0.2s ease;
	        transition: 0.2s ease;
	width: 100%;
	z-index: 11;
}

header.site-header.sticky{
	background: #000;
	position: fixed;
}

header.site-header .container > .row {
	-webkit-align-items: center;
	        align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

header.site-header .site-logo{
	-webkit-flex-grow: 1;
	        flex-grow: 1;
}

header.site-header .site-logo a{
	color: #FFF;
	display: inline-block;
	text-decoration: none;
}

header.site-header .site-nav{
	-webkit-flex-grow: 3;
	        flex-grow: 3;
}

header.site-header .site-nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
	text-align: right;
}

header.site-header .site-nav ul li {
	display: inline-block;
}

header.site-header .site-nav ul li a{
	color: #fff;
	display: block;
	font-size: 19px;
	margin: 0 15px;
	text-decoration: none;
	position: relative;
}

header.site-header .site-nav ul li:first-child a{
	margin-left: 0;
}

header.site-header .site-nav ul li:last-child a{
	margin-right: 0;
}

header.site-header .site-nav ul li a:after{
	background: #fff;
	bottom: 0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 0;
	-webkit-transition: width 0.3s ease-in-out;
       -moz-transition: width 0.3s ease-in-out;
        -ms-transition: width 0.3s ease-in-out;
         -o-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
}

header.site-header .site-nav ul li a:hover:after{
	width: 100%;
}

/*
 * GLOBAL SECTION STYLES
-------------------------------*/

.slanted:after {
    background: #f8f8f8;
    bottom: -35px;
	content: '';
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 8;
    -webkit-transform: skewY(-2deg);
       -moz-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
         -o-transform: skewY(-2deg);
            transform: skewY(-2deg);
}

.slanted-before:before {
    background: #fff;
    top: -35px;
	content: '';
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 8;
    -webkit-transform: skewY(-2deg);
       -moz-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
         -o-transform: skewY(-2deg);
            transform: skewY(-2deg);
    /*opacity: 0.1;*/
}

.parallax{
    background: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.section-title{
	display: block;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.section-title h2{
	color: #303030;
	font-size: 30px;
	margin: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.section-title span{
    color: #ddd;
	display: inline-block;
    position: relative;
    width: 100px;
}

.section-title span:before,
.section-title span:after{
    border-top: 2px solid #ddd;
    content: '';
    left: 0px;
	position: absolute;
    top: 9px;
    width: 36%;
}

.section-title span:after{
	left: auto;
    right: 0px;
}

.section-title span i{
	color: #ddd;
	font-size: 16px;
}

/*
 * BANNER
-------------------------------*/

.site-banner{
	overflow: hidden;
	position: relative;
}

.site-banner.slanted:after{
    background: #f8f8f8;
}

#hero {
	height: calc(100vh - 30px);
}


#hero .item{
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	height: calc(100vh - 30px);
	position: relative;
	width: 100%;
}

#hero .item:before{
	background: rgba(0,0,0,0.35);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}


/*
 * ABOUT
-------------------------------*/

.about {
	background: #f8f8f8;
	overflow: hidden;
	padding: 35px 0 120px 0;
    position: relative;
}

.about.slanted:after{
    background: #fff;
}

.about-wrapper{
    display: table;
    height: 450px;
    margin-top: 100px;
	position: relative;
    table-layout: fixed;
    width: 100%;
}

.left-wrapper{
	display: table-cell;
}

.about-title-wrapper{
    display: table;
	height: 100%;
	margin-top: -60px;
    padding: 60px;
	position: relative;
    width: 100%;
	z-index: 5;
}

.about-title-wrapper:before{
    -webkit-animation: gradiantAnimation 12s ease infinite;
	   -moz-animation: gradiantAnimation 12s ease infinite;
	     -o-animation: gradiantAnimation 12s ease infinite;
	        animation: gradiantAnimation 12s ease infinite;
    background: linear-gradient(298deg, #37a187, #72b659, #01c2ec);
    background: -o-linear-gradient(298deg, #37a187, #72b659, #01c2ec);
    background: -ms-linear-gradient(298deg, #37a187, #72b659, #01c2ec);
    background: -moz-linear-gradient(298deg, #37a187, #72b659, #01c2ec);
    -webkit-background-size: 600% 600%;
         -o-background-size: 600% 600%;
            background-size: 600% 600%;
	content: "";
    height: 100%;
    left: 0px;
    opacity: .5;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.about-title-wrapper .title{
    display: table-cell;
    vertical-align: middle;

}

.about-title-wrapper .title h1{
    color: #fff;
    font-size: 40px;
    margin: 0;
    position: relative;
    text-align: center;
    z-index: 5;
}

.right-wrapper{
	display: table-cell;
    vertical-align: top;
}

.about-content-wrapper{
	background: #fff;
    -webkit-box-shadow: 2px 3px 16px #d9d9d9;
            box-shadow: 2px 3px 16px #d9d9d9;
	height: 100%;
	margin-left: -30px;
    padding: 60px;
	position: relative;
	z-index: 6;
}

.about-content-wrapper p{
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 30px;
}

.about-content-wrapper a{
    text-decoration: none;
}

/*
 * SERVICES
-------------------------------*/

.services {
    overflow: hidden;
    padding: 35px 0 60px 0;
    position: relative;
}

.service-info{
    padding: 40px;
    -webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

.service-title,
.service-content {
    overflow: hidden;
}

.service-icon{
	border: 2px solid #303030;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: block;
	height: 80px;
	margin: 0 auto 15px;
	text-align: center;
	width: 80px;
	position: relative;
}

.service-icon i{
	font-size: 50px;
	line-height: 76px;
}

.service-title h3{
    color: #303030;
    font-size: 22px;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.service-content p{
    color: #303030;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
    text-align: center;
}

.service-info:hover{
	-webkit-box-shadow: 0 0 16px #d9d9d9;
            box-shadow: 0 0 16px #d9d9d9;
}

.service-icon:after {
	-webkit-border-radius: 50% 50%;
	        border-radius: 50% 50%;
	content: '';
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 100%;
}


.service-info .service-icon:after {
	left: 0;
	opacity: 0;
	padding: 0;
	top: 0;
	z-index: -1;
}

.service-info:hover .service-icon:after {
	-webkit-animation: pulsateEffect 1.3s ease-out 75ms;
	   -moz-animation: pulsateEffect 1.3s ease-out 75ms;
	     -o-animation: pulsateEffect 1.3s ease-out 75ms;
	        animation: pulsateEffect 1.3s ease-out 75ms;
}

/*
 * CALL TO ACTION
-------------------------------*/

.call-to-action{
	padding: 200px 0;
	position: relative;
}

.overlay-bg{
	background: rgba(0,0,0,0.6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.cta-content{
	color: #fff;
	z-index: 2;
	position: relative;
}

.cta-content p{
	font-size: 35px;
	margin: 0;
}

.cta-btn a,
.cta-btn a:link,
.cta-btn a:visited{
	color: #fff;
	font-size: 20px;
	padding: 10px 40px;
	position: relative;
	margin: 0;
	text-decoration: none;
	z-index: 2;
}

.cta-btn a:after{
	background: #424242;
	content: '\f1d9';
	font-family: 'FontAwesome';
	height: 50px;
	position: absolute;
	line-height: 50px;
	margin-top: -1px;
	right: -40px;
	text-align: center;
	top: 0;
	width: 40px;
}

/*
 * PORTFOLIO
-------------------------------*/

.portfolio{
	background: #F8F8F8;
	padding: 35px 0 120px 0;
	position: relative;
}

.portfolio .section-title{
    margin-bottom: 35px;
}

.portfolio-filter{
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}

.portfolio-filter ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
}

.portfolio-filter ul li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.portfolio-filter ul li a,
.portfolio-filter ul li a:link,
.portfolio-filter ul li a:visited{
    color: #ddd;
    position: relative;
    text-decoration: none;
}

.portfolio-filter ul li:first-child{
    margin-left: 0;
}

.portfolio-filter ul li:last-child{
    margin-right: 0;
}

.portfolio-filter ul li a.filter-active{
    color:#000;
}

.portfolio-filter ul li:after{
    background: #ddd;
    content: '';
    height: 100%;
    position: absolute;
    right: -10px;
    width: 2px;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
            transform: rotate(20deg);
}

.portfolio-filter ul li:last-child:after{
    content: none;
}

.portfolio-filter ul li a:after{
    background: #000;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
}

.portfolio-filter ul li a.filter-active:after{
    content: none;
}

.portfolio-filter ul li a:hover:after{
    width: 100%;
}

.showcase {
    display: block;
    width: 100%;
}

.showcase .portfolio-item{
    cursor: pointer;
    float: left;
    width: 33.33%;
}


.showcase .portfolio-item figure > img{
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}


.showcase .portfolio-item figure{
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.showcase .portfolio-item figcaption{
    -webkit-align-items: center;
            align-items: center;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: ;
            justify-content: ;
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.showcase .portfolio-item figure:hover img{
    -webkit-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

.showcase .portfolio-item figure:hover figcaption{
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}

.showcase .portfolio-item figure > figcaption h4{
    color: #fff;
    margin: 40px 0 20px;
    text-transform: uppercase;
}

.showcase .portfolio-item figure > figcaption a{
    border: 1px solid #fff;
    color: #fff;
    display: block;
    height: 32px;
    margin: 0 auto;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
       -moz-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 32px;
}

.showcase .portfolio-item figure > figcaption a i{
    font-size: 14px;
    line-height: 30px;
}

.showcase .portfolio-item figure > figcaption a:hover {
    background: #fff;
    color: #414141;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 8px;
    
}

/*
 * TESTIMONIALS
-------------------------------*/

.testimonials{
    padding: 35px 0 60px 0;
    position: relative;
    
}

/*
 * FOOTER
-------------------------------*/

footer.site-footer{
    overflow: hidden;
    padding: 60px 0;
    position: relative;
}

.site-footer.slanted-before{
    background: #777;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.footer-logo  h1{
    color: #fff;
    margin: 0;
}

.footer-social-icons{
    border-right: 1px solid #fff;
    float: left;
    text-align: center;
    width: 50%;
}

.footer-social-icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social-icons ul li{
    border: 1px solid #fff;
    display: inline-block;
    height: 40px;
    margin: 0 4px;
    text-align: center;
    width: 40px;
}

.footer-social-icons ul li a{
    color: #fff;
    display: block;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
       -moz-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-social-icons ul li a i{
    font-size: 16px;
    line-height: 38px;
}

.footer-social-icons ul li:first-child{
    margin-left: 0;
}

.footer-social-icons ul li:last-child{
    margin-right: 0;
}

.footer-social-icons ul li.fb a:hover,
.footer-social-icons ul li.twitter a:hover{
    background: #fff;
    color: #414141;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 8px;
}

.footer-email{
    float: left;
    overflow: hidden;
    text-align: center;
    width: 50%;
}

.footer-email a{
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

.copyright-text{
    display: block;
    margin: 20px 0 0;
    overflow: hidden;
    text-align: center;
}

.copyright-text p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}
/*
 * BACK TO UP
-------------------------------*/

#back-to-top {
	background: #d7d7d7;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 45px;
    opacity: 0;
    position: fixed;
    right: 60px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .35s ease;
       -moz-transition: all .35s ease;
        -ms-transition: all .35s ease;
         -o-transition: all .35s ease;
            transition: all .35s ease;
    width: 45px;
    z-index: 99;
}

#back-to-top i{
	line-height: 45px;
}

#back-to-top:hover {
    background: #545454;
    color: #fff;
}

#back-to-top.show {
    opacity: 1;
}


/*
 * KEYFRAMES
-------------------------------*/

@-webkit-keyframes gradiantAnimation {
    0%{
    	background-position:0% 51%
	}
    50%{
    	background-position:100% 50%
	}
    100%{
    	background-position:0% 51%
	}
}

@-moz-keyframes gradiantAnimation {
    0%{
    	background-position:0% 51%
	}
    50%{
    	background-position:100% 50%
	}
	100%{
    	background-position:0% 51%
	}
}

@-o-keyframes gradiantAnimation {
    0%{
    	background-position:0% 51%
	}
    50%{
    	background-position:100% 50%
	}
    100%{
    	background-position:0% 51%
	}
}

@keyframes gradiantAnimation {
    0%{
    	background-position:0% 51%
	}
    50%{
    	background-position:100% 50%
    }

    100%{
    	background-position:0% 51%
	}
}

@-webkit-keyframes pulsateEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #d9d9d9, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #d9d9d9, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes pulsateEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #d9d9d9, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #d9d9d9, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes pulsateEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #d9d9d9, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #d9d9d9, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}